

<mat-sidenav-container class="sidenav-container">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a class="Ucar-buttom" mat-button [routerLink]="'/arrendadores/home-a'" >
      <mat-icon class="mat-icon-ucar" svgIcon="Urcarlogo" aria-hidden="false" aria-label="Example thumbs up SVG icon">
      </mat-icon>
      <span>URCAR</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button [routerLink]="'/arrendadores/home-a'" >Inicio</a>
      <a mat-button [routerLink]="'/arrendadores/profile-a'" >Perfil</a>
      <a mat-button [routerLink]="'/arrendadores/reservations-a'" >Lista Reservas</a>
      <a mat-button [routerLink]="'/arrendadores/message-a'" >Mensajes</a>
      <a mat-button [routerLink]="'/arrendadores/cars'" >Vehiculos</a>
      <a mat-button [routerLink]="'/arrendadores/configuration-a'" >configuración</a>
    </div>
  </mat-toolbar>
  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a mat-button [routerLink]="'/arrendadores/home-a'" >Inicio</a>
      <a mat-button [routerLink]="'/arrendadores/profile-a'" >Perfil</a>
      <a mat-button [routerLink]="'/arrendadores/reservations-a'" >Lista Reservas</a>
      <a mat-button [routerLink]="'/arrendadores/message-a'" >Mensajes</a>
      <a mat-button [routerLink]="'/arrendadores/cars'" >Vehiculos</a>
      <a mat-button [routerLink]="'/arrendadores/configuration-a'" >configuración</a>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>





