<p>message-a works!</p>
<mat-card class="contactos">
  <a mat-list-item [routerLink]="'chat'">Roberto</a>
  <a mat-list-item [routerLink]="'chat'">Pedro</a>
  <a mat-list-item [routerLink]="'chat'">Francisco</a>
  <a mat-list-item [routerLink]="'chat'">Daniel</a>
  <a mat-list-item [routerLink]="'chat'">Cielo</a>
  <a mat-list-item [routerLink]="'chat'">Martha</a>
  <a mat-list-item [routerLink]="'chat'">Faraon</a>
  <a mat-list-item [routerLink]="'chat'">Justiniano</a>
</mat-card>
<router-outlet></router-outlet>
