<p>{{nombre}}</p>

<p>nombre: {{CurrentUserLeaseholder.name}}</p>
<p>direccion: {{CurrentUserLeaseholder.address}}</p>
<p>edad: {{CurrentUserLeaseholder.age}}</p>
<p>distrito: {{CurrentUserLeaseholder.district}}</p>
<p> DNI :{{CurrentUserLeaseholder.DNI}}</p>
<p> licensia{{CurrentUserLeaseholder.Driverlicense}}</p>
<p> email: {{CurrentUserLeaseholder.email}}</p>
<p>experiencia: {{CurrentUserLeaseholder.experience}}</p>
<p>{{CurrentUserLeaseholder.id}}</p>
<p>{{CurrentUserLeaseholder.imageProfile}}</p>
<p>{{CurrentUserLeaseholder.lastName}}</p>
<p>{{CurrentUserLeaseholder.licensePlate}}</p>
<p>{{CurrentUserLeaseholder.numberPhone}}</p>
<p>{{CurrentUserLeaseholder.PayMethods}}</p>
<p>{{CurrentUserLeaseholder.postalCode}}</p>
<p>{{CurrentUserLeaseholder.recomends}}</p>
<p>{{CurrentUserLeaseholder.type}}</p>
<p>{{CurrentUserLeaseholder.password}}</p>
