<mat-divider></mat-divider>
<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Bienvenido: {{CurrentUserLessor.name}}</h2>
      <h4>Tu gmail: {{CurrentUserLessor.email}}</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
  </div>


  </mat-nav-list>
<div id="kiko-slider">

  <ul class="slider">
    <li id="slide1">

      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/car.jpg"/>
    </li>
    <li id="slide2">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg"/>
    </li>
    <li id="slide3">
      <h1>Ejemplo con otros elementos</h1>
      <p>Esto es un párrafo de ejemplo para comprobar que podemos meter cualquier tipo de elementos en el slider</p>
      <a href="https://kikopalomares.com/">¡Corre a mi web para más contenido!</a>
    </li>
  </ul>



</div>
