.example-table {
  width: 700px;
  margin: 2vw 0 2vw 0;
  position: initial;
  height:100%;
}


.bar-right{
  width:22vw;
  height: 100%;
  background-color: white;

}
.bar-left{
  width:23vw;
  height:100%;
  background-color: white;
}

.section-cards div{
  display: inline-block;
  float:left;
  height:100%;

}
.Posts-card{
  height: 800px;
  width: 800px;
  margin-left: 600px;
 border-radius: 10px;
  background-color: #ffffff;

}


.filter-card{
  max-height:100%;
  background-color: transparent;
  position: fixed;
  width:20vw;
}
.result{
  background-color: transparent;
  position: fixed
}
.search-bar{
  padding:1%;
}


.mat-elevation-z8{
  width:100%;
}

.Posts-card{
  position:initial;
}

.btn-reserv{
  float:right;
  color: blueviolet;
  position:initial;
}

.Posts-card button{
  position:initial;
}
.Posts-card button:hover{
  position:initial;
  background-color: lightblue;
}

img{
  height: 400px;
  height: 500px;
}

button{
  background-color: #b8d5e0;
}
