.container-card{
  background-color: white;
  width:400px;
  height:400px;
  margin:auto;
  padding:3vw;

}
.container-card mat-form-field{
  margin:auto;
  width:100%;
}

.section-register{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  display:block;
  padding-top: 5vw;
}
