.container-card{
  background-color: white;
  width:400px;
  height:90%;
  margin:auto;
  padding:2vw;
}
.container-card mat-form-field{
  margin:auto;
  width:100%;
  margin-top: 5px;
}

.section-register{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  display:block;
  padding-top: 1vw;
}
