
<mat-card>
  <br><br><br><br>
  <mat-slide-toggle></mat-slide-toggle><div class="mat-spacer">Modo Oscuro</div>
  <mat-slide-toggle></mat-slide-toggle><div class="mat-spacer">Contraste alto</div>
  <br><br>
  <mat-slide-toggle></mat-slide-toggle><div class="mat-spacer"></div>
  <mat-slide-toggle></mat-slide-toggle><div class="mat-spacer"></div>
  <mat-slide-toggle></mat-slide-toggle><div class="mat-spacer"></div>
  <br><br>
  <mat-slide-toggle></mat-slide-toggle><div class="mat-spacer"></div>
  <mat-slide-toggle></mat-slide-toggle><div class="mat-spacer"></div>
  <mat-slide-toggle></mat-slide-toggle><div class="mat-spacer"></div>
</mat-card>
