<div>
  <h3>Contactos</h3>

  <mat-list role="list">
    <mat-list-item role="listitem" >
      <button mat-stroked-button
              [routerLink]="'chat'">Roberto</button>
    </mat-list-item>
    <mat-list-item role="listitem" >
      <button mat-stroked-button
              [routerLink]="'chat'">Pedro</button>
    </mat-list-item>
    <mat-list-item role="listitem" >
      <button mat-stroked-button
              [routerLink]="'chat'">Francisco</button>
    </mat-list-item>
    <mat-list-item role="listitem" >
      <button mat-stroked-button
              [routerLink]="'chat'">Daniel</button>
    </mat-list-item>
    <mat-list-item role="listitem" >
      <button mat-stroked-button
              [routerLink]="'chat'">Martha</button>
    </mat-list-item>
    <mat-list-item role="listitem" >
      <button mat-stroked-button

              [routerLink]="'chat'">Cielo</button>
    </mat-list-item>
    <mat-list-item role="listitem" >
      <button mat-stroked-button
              [routerLink]="'chat'">Faraon</button>
    </mat-list-item>
    <mat-list-item role="listitem" >
      <button mat-stroked-button
              [routerLink]="'chat'">Justiniano</button>
    </mat-list-item>
  </mat-list>
</div>

<router-outlet></router-outlet>
