<p>{{nombre}}</p>

<p>nombre: {{CurrentUserLessor.name}}</p>
<p>direccion: {{CurrentUserLessor.address}}</p>
<p>edad: {{CurrentUserLessor.age}}</p>
<p>distrito: {{CurrentUserLessor.district}}</p>
<p> DNI :{{CurrentUserLessor.DNI}}</p>
<p> licensia{{CurrentUserLessor.Driverlicense}}</p>
<p> email: {{CurrentUserLessor.email}}</p>
<p>experiencia: {{CurrentUserLessor.experience}}</p>
<p>{{CurrentUserLessor.id}}</p>
<p>{{CurrentUserLessor.imageProfile}}</p>
<p>{{CurrentUserLessor.lastName}}</p>
<p>{{CurrentUserLessor.licensePlate}}</p>
<p>{{CurrentUserLessor.numberPhone}}</p>
<p>{{CurrentUserLessor.PayMethods}}</p>
<p>{{CurrentUserLessor.postalCode}}</p>
<p>{{CurrentUserLessor.recomends}}</p>
<p>{{CurrentUserLessor.type}}</p>
<p>{{CurrentUserLessor.password}}</p>
